<section class="main-section" style="width: 100%;margin-top: 50px;height: auto">
    <div style="width: 100%;height: auto;">
        <div class="tradingview-strip-container row">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                        {
                            "symbols": [
                                {
                                    "proName": "FOREXCOM:SPXUSD",
                                    "title": "S&P 500"
                                },
                                {
                                    "description": "IBOVESPA",
                                    "proName": "CME:IBV1!"
                                },
                                {
                                    "description": "OURO",
                                    "proName": "TVC:GOLD"
                                },
                                {
                                    "description": "BITCOIN (R$)",
                                    "proName": "MERCADO:BTCBRL"
                                }
                            ],
                                "showSymbolLogo": false,
                                    "colorTheme": "dark",
                                        "isTransparent": false,
                                            "displayMode": "regular",
                                                "locale": "en"
                        }
                    </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="row" style='display: flex; flex-direction: row; justify-content:center;'>
            <div class="col-lg-3">
                <div class='em-alta-container' style='width: 150px'>
                    <h3 class='headline top-headline'>Últimas Notícias</h3>
                </div>
                <ul class="lista-noticias list">
                    {{#each newsBR}}
                    <li class="list-item">
                        {{>noticia}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-lg-4">
                <div style="height:auto; width:100%;">
                    <div class="carousel slide" data-ride="carousel" id="carousel-1">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/article/main/{{mainArticles.0._id}}">
                                    <img id='car3-img' class="w-100 d-block" src="{{mainArticles.0.imgPath}}"
                                        alt="Slide Image">
                                </a>
                                <div class="carousel-caption d-none d-md-block" id='car1-text-container'>
                                    <h1 class='carousel-text' style='font-weight: bold; font-size: 1.7rem'>{{mainArticles.0.title}}</h1>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="#">
                                    <img id='car3-img' class="w-100 d-block" src="{{mainArticles.1.imgPath}}"
                                        alt="Slide Image">
                                </a>
                                <div class="carousel-caption d-none d-md-block" id='car2-text-container'>
                                    <h1 class='carousel-text' style='font-weight: bold; font-size:1.7rem'>{{mainArticles.1.title}}</h1>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="#">
                                    <img id='car3-img' class="w-100 d-block" src="{{mainArticles.2.imgPath}}"
                                        alt="Slide Image">
                                </a>
                                <div class="carousel-caption d-none d-md-block" id='car3-text-container'>
                                    <h1 class='carousel-text' style='font-weight: bold; font-size:1.7rem'>{{mainArticles.2.title}}</h1>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                                    class="carousel-control-prev-icon"></span><span
                                    class="sr-only">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-1" role="button" data-slide="next"><span
                                    class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                    </div>
                    <ul class="list-group lista-embaixo-carousel" style='list-style: none;'>
                        <li class="list-group-item noticia-embaixo-carousel" style='border: none;'>
                            <svg width='15' height='15' xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                viewBox="0 0 512 512">
                                <title>Arrow Forward</title>
                                <path fill="none" stroke="#017bcd" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                            </svg>
                            <a style='color: black; text-decoration:none; font-size:1rem'
                                href="#"><span>{{mainArticles.3.title}}</span></a>
                        </li>
                        <li class="list-group-item noticia-embaixo-carousel" style='border: none;'>
                            <svg width='15' height='15' xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                viewBox="0 0 512 512">
                                <title>Arrow Forward</title>
                                <path fill="none" stroke="#017bcd" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                            </svg>
                            <a style='color: black; text-decoration:none; font-size:1rem'
                                href="#"><span>{{mainArticles.4.title}}</span></a>
                        </li>
                        <li class="list-group-item noticia-embaixo-carousel" style='border: none;'>
                            <svg width='15' height='15' xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                viewBox="0 0 512 512">
                                <title>Arrow Forward</title>
                                <path fill="none" stroke="#017bcd" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                            </svg>
                            <a style='color: black; text-decoration:none; font-size:1rem'
                                href="/article/main/{{mainArticles.5._id}}"><span>{{mainArticles.5.title}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='vl'></div>
            <div class="col-lg-3 col-md-12">
                <div class='trading-view-market-container'>
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>

                        <script type="text/javascript"
                            src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                    "colorTheme": "light",
                                        "dateRange": "12M",
                                            "showChart": true,
                                                "locale": "en",
                                                    "largeChartUrl": "",
                                                        "isTransparent": false,
                                                            "showSymbolLogo": true,
                                                                "width": "350",
                                                                    "height": "400",
                                                                        "plotLineColorGrowing": "rgba(0, 255, 0, 0.7)",
                                                                            "plotLineColorFalling": "rgba(255, 0, 0, 1)",
                                                                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                                                                    "scaleFontColor": "rgba(120, 123, 134, 1)",
                                                                                        "belowLineFillColorGrowing": "rgba(217, 234, 211, 0.67)",
                                                                                            "belowLineFillColorFalling": "rgba(244, 204, 204, 0.68)",
                                                                                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                                                                                    "tabs": [
                                                                                                        {
                                                                                                            "title": "Indices",
                                                                                                            "symbols": [
                                                                                                                {
                                                                                                                    "s": "INDEX:IBOV",
                                                                                                                    "d": "Ibovespa"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "CURRENCYCOM:US500",
                                                                                                                    "d": "S&P 500"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "CURRENCYCOM:US100",
                                                                                                                    "d": "Nasdaq"
                                                                                                                }
                                                                                                            ],
                                                                                                            "originalTitle": "Indices"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Commodities",
                                                                                                            "symbols": [
                                                                                                                {
                                                                                                                    "s": "TVC:GOLD",
                                                                                                                    "d": "Ouro"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "TVC:SILVER",
                                                                                                                    "d": "Prata"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "TVC:UKOIL",
                                                                                                                    "d": "Petróleo BRENT"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "TVC:USOIL",
                                                                                                                    "d": "Petróleo WTI"
                                                                                                                }
                                                                                                            ],
                                                                                                            "originalTitle": "Commodities"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Moedas",
                                                                                                            "symbols": [
                                                                                                                {
                                                                                                                    "s": "FX_IDC:USDBRL",
                                                                                                                    "d": "Dólar"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "FX_IDC:EURBRL",
                                                                                                                    "d": "Euro"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "FX_IDC:GBPBRL",
                                                                                                                    "d": "Libras"
                                                                                                                }
                                                                                                            ],
                                                                                                            "originalTitle": "Forex"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Criptomoedas",
                                                                                                            "symbols": [
                                                                                                                {
                                                                                                                    "s": "BITSTAMP:BTCUSD",
                                                                                                                    "d": "Bitcoin Dólar"
                                                                                                                },
                                                                                                                {
                                                                                                                    "s": "MERCADO:BTCBRL",
                                                                                                                    "d": "Bitcoin Real"
                                                                                                                }
                                                                                                            ]
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Juros",
                                                                                                            "symbols": [
                                                                                                                {
                                                                                                                    "s": "FRED:DGS30",
                                                                                                                    "d": "Juros USA"
                                                                                                                }
                                                                                                            ]
                                                                                                        }
                                                                                                    ]
                                }
                            </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class='second-section' style="width: 100%; min-height: 400px; margin-top:20px">
    <div class="row text-left justify-content-center">
        <div class="col-12 col-lg-4 col-xl-4" style='border-right: 1px solid lightgray'>
            <div class='exterior-container'>
                <h3 class='headline exterior-headline'>Exterior</h3>
            </div>

            <ul class="lista-noticias list">
                {{#each newsUSA}}
                <li class="list-item" data-aos='fade-right'>
                    {{>noticiaComImg}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div style="height: auto;width: 45%; margin-top:30px; justify-content: center">
            <h5 style='margin-left: 43%;font-size:1.1rem; color: #017bcd'>Outras Notícias</h5>
            <div class="container">
                <div class="row justify-content-center" style='margin-top: 15px'>
                    <div class="col-md-4">
                        <a href="/noticias/pagina-noticia/{{dunnoNews.0._id}}">
                            <div class="card-group">
                                <div class="card"><img class="card-img-top w-100 d-block" style='max-height:250px;'
                                        src='{{dunnoNews.0.urlToImage}}' />
                                    <div class="card-body">
                                        <h4 style='font-size: 1rem; color: black' class="card-title">{{dunnoNews.0.title}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/noticias/pagina-noticia/{{dunnoNews.1._id}}">
                            <div class="card-group">
                                <div class="card"><img class="card-img-top w-100 d-block" style='max-height:250px;'
                                        src='{{dunnoNews.1.urlToImage}}' />
                                    <div class="card-body">
                                        <h4 style='font-size: 1rem; color: black' class="card-title">{{dunnoNews.1.title}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center" style='margin-top:10px;'>
                    <div class="col-md-4">
                        <a href="/noticias/pagina-noticia/{{dunnoNews.2._id}}">
                            <div class="card-group">
                                <div class="card"><img class="card-img-top w-100 d-block" style='height:150px;'
                                        src='{{dunnoNews.2.urlToImage}}' />
                                    <div class="card-body">
                                        <h4 style='font-size: 1rem; color: black' class="card-title">{{dunnoNews.2.title}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/noticias/pagina-noticia/{{dunnoNews.3._id}}">
                            <div class="card-group">
                                <div class="card"><img class="card-img-top w-100 d-block" style='height:125px;'
                                        src='{{dunnoNews.3.urlToImage}}' />
                                    <div class="card-body">
                                        <h4 style='font-size: 1rem; color: black' class="card-title">{{dunnoNews.3.title}}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div></div>
</section>
<section class='third-section' style="height: auto; margin-top: 20px">
    <div class="row">
        <div class="col">
            <h4 style='margin-left: 10%; color: #017bcd'>Comprar ou Vender</h4>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-lg-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="/article/main/{{cpvArticles.0._id}}">
                            <div class="card-img"
                                style="background-image: url('{{cpvArticles.0.imgPath}}');background-size: cover;height: 100px; width:auto;background-repeat: no-repeat;background-position: center;">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/article/main/{{cpvArticles.0._id}}">
                                <span style='color: rgb(172, 167, 167); text-decoration: underline'>Recomendação
                                    de carteira</span></a>
                            <h5 style='margin-top: 5px'>{{cpvArticles.0.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="/article/main/{{cpvArticles.1._id}}">
                            <div class="card-img"
                                style="background-image: url('{{cpvArticles.1.imgPath}}');background-size: cover;height: 100px; width:auto;background-repeat: no-repeat;background-position: center;">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/article/main/{{cpvArticles.1._id}}">
                                <span style='color: rgb(172, 167, 167); text-decoration: underline'>Recomendação
                                    de carteira</span></a>
                            <h5 style='margin-top: 5px'>{{cpvArticles.1.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-center" style='margin-top:20px;'>
        <div class="col-lg-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="/article/main/{{cpvArticles.2._id}}">
                            <div class="card-img"
                                style="background-image: url('{{cpvArticles.2.imgPath}}');background-size: cover;height: 100px; width:auto;background-repeat: no-repeat;background-position: center;">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/article/main/{{cpvArticles.2._id}}">
                                <span style='color: rgb(172, 167, 167); text-decoration: underline'>Recomendação
                                    de carteira</span></a>
                            <h5 style='margin-top: 5px'>{{cpvArticles.2.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="/article/main/{{cpvArticles.3._id}}">
                            <div class="card-img"
                                style="background-image: url('{{cpvArticles.3.imgPath}}');background-size: cover;height: 100px; width:auto;background-repeat: no-repeat;background-position: center;">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/article/main/{{cpvArticles.3._id}}">
                                <span style='color: rgb(172, 167, 167); text-decoration: underline'>Recomendação
                                    de carteira</span></a>
                            <h5 style='margin-top: 5px'>{{cpvArticles.3.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="height: auto; margin-top: 50px">
    <div class="row d-flex flex-row justify-content-around">
        <div class="col-lg-4" style='margin-left: 15%;'>
            <h5 style='color:#017bcd; font-weight:600'>Ações</h5>
        </div>
        <div class="col-lg-4" style='margin-left: 2%;'>
            <h5 style='color:#017bcd; font-weight:600'>Outros</h5>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-center align-items-center" style='margin-top:10px'>

        <div class="col-lg-5">
            {{#each stockNewsBr}}
            <a style='text-decoration:none; color: black;' class='link noticia' href="/noticias/pagina-noticia/{{_id}}">
                <div class="d-flex flex-column justify-content-start align-items-start"
                    style="width: 100%;height: auto">
                    <div class="d-flex flex-row" style="width: 80%;height:45px;">
                        <h5 class="text-break"
                            style="font-size: 15px; font-family: Calibre-Semibold; font-weight:bold;width: 100%;border-bottom: 1px solid lightgray ;">
                            {{this.title}}</h5>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>

        <div class="col-lg-5">
            {{#each stockNewsBr2}}
            <a style='text-decoration:none; color: black;' class='link noticia' href="/noticias/pagina-noticia/{{_id}}">
                <div class="d-flex flex-column justify-content-start align-items-start"
                    style="width: 100%;height: auto">
                    <div class="d-flex flex-row" style="width: 80%;height:45px;">
                        <h5 class="text-break"
                            style="font-size: 15px; font-family: Calibre-Semibold; font-weight:bold;width: 100%;border-bottom: 1px solid lightgray ;">
                            {{this.title}}</h5>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>