<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/article-page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body style="display: flex; justify-content: center; align-items: center;" onload="onload()">

    {{>memberNav}}


    <section style="height: auto; margin-left: 20px; margin-top: 90px;">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col-8 col-xl-6 d-flex flex-row justify-content-center align-items-center">
                <div class="d-flex flex-row justify-content-start align-items-center" style="width: auto;height: 40px;">
                    <img style="height: 35px;width: 40px;border-radius: 50%;" src='https://picsum.photos/200' />
                    <h4 style="margin-left: 5px;color: rgb(33, 37, 41);">{{user.username}}</h4>
                    <ion-icon name="checkmark-circle-outline" style="color: #017bcd;margin-left: 5px;"></ion-icon>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-3">
                <div class="d-flex flex-row justify-content-center align-items-center"
                    style="height: 60px;width: auto;">
                    <nav style="width: auto;height: 40px;">
                        <ul class="pagination">
                            <li class="page-item border rounded-pill"><a class="page-link"
                                    href="/private/author/{{user._id}}/articles">Artigos</a></li>
                            <li class="page-item active border rounded-pill"><a class="page-link" href="#">Perfil</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {{#if (verifyEmpty user.settings.biografia)}}
        <div class="row justify-content-center">
            <div class="col-8 col-sm-8 col-md-9 col-lg-6 col-xl-6">
                <div class="d-flex flex-column justify-content-center align-items-center"
                    style="height: auto; border:1px solid lightgray; padding:15px;border-radius:1rem">
                    <h6 style="color: #017bcd;font-weight: 600;text-transform: uppercase;font-size:18px">Bio</h6>
                    <div style="height: 70%;width: 95%;" style='background-color:white'>
                        <p>{{user.settings.biografia}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-11 col-lg-7 col-xl-7">
                <div class="d-flex flex-row justify-content-center align-items-center social-icons"
                    style="height: 100px;padding: 0px;">
                    {{#if user.settings.twitterlink}}
                    <a href="{{user.settings.twitterlink}}">
                        <ion-icon name='logo-twitter' style='color:darkgray; height:50px;width:50px'></ion-icon>
                    </a>
                    {{/if}}
                    {{#if user.settings.fblink}}
                    <a href="{{user.settings.fblink}}">
                        <ion-icon name='logo-facebook' style='color:darkgray; height:50px;width:50px'></ion-icon>
                    </a>
                    {{/if}}
                    {{#if user.settings.instalink}}
                    <a href="{{user.settings.instalink}}">
                        <ion-icon name='logo-instagram' style='color:darkgray; height:50px;width:50px'></ion-icon>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-center align-items-center" style='height:auto'>
            {{#if (checkOn user.settings.walletpublic)}}
            <div class="col-lg-6 col-xl-6 col-6">
                <div style="height: auto;">
                    <div class="row">
                        <div class='col-8 d-flex flex-column'
                            style='justify-content: flex-start; align-content: flex-start; align-items: flex-start'>
                            <h5 style='color: #017bcd'>Resumo Da Carteira</h5>
                            <canvas id='walletPieChart' style='margin-top:30px'></canvas>
                        </div>
                    </div>

                </div>
            </div>
            {{/if}}
            {{#if (checkOn user.settings.destaquespublic)}}
            <div class='col-lg-6 col-xl-6 col-6'>
                <div class="row">
                    <div class="col">
                        <h5 style='color: #017bcd; margin-top:30px'>Destaques da Carteira</h5>
                    </div>
                </div>

                <div class="row" style='margin-top: 10px; margin-bottom: 50px;'>

                    {{#each maioresAltas}}
                    {{#if (biggerThanZero this)}}
                    <div class="col-12" style='margin-top:3px'>
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="success" style='font-size: 1.2rem; color: rgb(47, 216, 47);'>
                                                {{this}}%</h3>
                                            <span style='font-size:1.2rem; font-weight: bold'>{{@key}}</span>
                                        </div>
                                        <div class="align-self-center">
                                            <i class="icon-arrow-up success float-center "
                                                style=' height: 30px; width: 30px;color:rgb(47, 216, 47)'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}

                    {{#each maioresBaixas}}
                    {{#if (biggerThanZero this)}}
                    {{else}}
                    <div class="col-12" style='margin-top:3px'>
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="success" style='font-size: 1.2rem; color: red'>{{this}} %
                                            </h3>
                                            <span style='font-size:1.2rem; font-weight: bold'>{{@key}}</span>
                                        </div>
                                        <div class="align-self-center">
                                            <i class="icon-arrow-down danger font-large-2 float-center"
                                                style=' height: 30px; width: 30px;color:red'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}

                </div>

            </div>

        </div>
        {{/if}}
    </section>



    <section style='display:none' id='graphDataContainer'>
        <p id='labels'>{{doughnutGraphData.labels}}</p>
        <p id='data'>{{doughnutGraphData.data}}</p>
    </section>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='/assets/js/autocomplete.js'></script>
    <script src='/assets/js/walletCharts.js'></script>
</body>

</html>