<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="icon" href="/img/stag-talk-bulb-logo-white-bg.png">
  <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/tabela.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body>

  {{>memberNav}}

  <div class="row" style='margin-top:60px; margin-left: 5px'>
    <div class="col-lg-4">
      <h3>Bem Vindo <span style='color: #017bcd; font-weight:600'>{{user.username}}</span></h3>
    </div>
  </div>

  <section style="height: auto; margin-left: 20px; margin-top: 30px">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div style="height: auto;">
          <div class="row">
            <div class='col-8 d-flex flex-column'
              style='justify-content: flex-start; align-content: flex-start; align-items: flex-start'>
              <h5 style='color: #017bcd'>Resumo Da Carteira</h5>
              <canvas id='walletPieChart' style='margin-top:30px'></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 style='color: #017bcd; margin-top:30px'>Destaques da Carteira</h5>
            </div>
          </div>

          <div class="row" style='margin-top: 10px; margin-bottom: 50px;'>

            {{#each maioresAltas}}
            {{#if (biggerThanZero this)}}
            <div class="col-xl-5 col-sm-5 col-12" style='margin-top:3px'>
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style='font-size: 1.2rem; color: rgb(47, 216, 47);'>{{this}}%</h3>
                        <span style='font-size:1.2rem; font-weight: bold'>{{@key}}</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-arrow-up success float-center "
                          style=' height: 30px; width: 30px;color:rgb(47, 216, 47)'></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
            {{/each}}

            {{#each maioresBaixas}}
            {{#if (biggerThanZero this)}}
            {{else}}
            <div class="col-xl-5 col-sm-5 col-12" style='margin-top:3px'>
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style='font-size: 1.2rem; color: red'>{{this}} %</h3>
                        <span style='font-size:1.2rem; font-weight: bold'>{{@key}}</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-arrow-down danger font-large-2 float-center"
                          style=' height: 30px; width: 30px;color:red'></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
            {{/each}}

          </div>
        </div>
      </div>
      <div class="col">
        <div></div>
        <div class="row">
          <div class="col">
            <h5 class="text-center" style='color: #017bcd'>Meus Artigos</h5>
          </div>
        </div>
        <div class="row d-flex flex-row flex-wrap articles-container" style="height: 400px; margin-right: 20px; overflow-y: auto; overflow-x: hidden;">
          {{#if articles}}
          {{#each articles}}
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card article-card" style='height:auto; max-height400px; margin-top: 20px'>
              <img src='{{imgPath}}' class="card-img-top w-100% d-block" style='width:auto; height: 150px' />
              <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">{{this.title}}</h5>
                <div class="card-body d-flex flex-row" style='justify-content: space-between; '>
                  <a href="/private/{{this._id}}/edit"><button style='margin-right:20px' class="btn btn-primary"
                      type="button">Editar</button></a>
                  <form action="/private/{{this._id}}/delete" method="POST">
                    <button class="btn btn-primary" type="submit">Apagar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div>

          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='/assets/js/autocomplete.js'></script>
  <script src="/assets/js/rpie.js"></script>
  <script src='/assets/js/walletCharts.js'></script>
</body>

</html>