<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap"
    rel="stylesheet">
  <link rel="icon" href="/img/stag-talk-bulb-logo-white-bg.png">
  <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/index.css">

</head>

<body>

  {{>memberNav}}

  <div class="row" style='margin-top:60px; margin-left: 5px'>
    <div class="col-lg-4">
      <h3>Bem Vindo <span style='color: #017bcd; font-weight:600'>{{user.username}}</span></h3>
    </div>
  </div>

  <section style="height: 600px; margin-left: 20px; margin-top: 30px">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div style="height: 400px;">
          <div class="row">
            <div class="col">
              <h5 style='color: #017bcd'>Resumo Da Carteira</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div style="height: 200px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 style='color: #017bcd'>Principais Altas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-6">
              <ul class="list-unstyled">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
              </ul>
            </div>
            <div class="col-6 col-lg-6">
              <ul class="list-unstyled">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div></div>
        <div class="row">
          <div class="col">
            <h5 class="text-center" style='color: #017bcd'>Meus Artigos</h5>
          </div>
        </div>
        <div class="row d-flex flex-row justify-content-between flex-wrap" style="height: 90%;">
          {{#if articles}}
          {{#each articles}}
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card article-card" style='height:350px; max-height:350px; margin-top: 30px'>
              <img src='{{imgPath}}' class="card-img-top w-100% d-block" style='width:auto; height: 150px' />
              <div class="card-body d-flex flex-column align-items-center">
                <h4 class="card-title">{{this.title}}</h4>
                <div class="card-body d-flex flex-column justify-content: center; align-items: center;">
                  <a href="/private/main/{{this._id}}"><button class="btn btn-primary" type="button">Mais
                      Detalhes</button></a>
                  <form action="/private/main/{{this._id}}/delete" method="POST">
                    <button class="btn btn-primary" type="button" style="margin-top: 5px;">Apagar Artigo</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div>

          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </section>






</body>

</html>