<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/member-area.css">
  <link rel="stylesheet" href="/assets/css/Header-Blue.css">
  <link rel="stylesheet" href="/assets/css/minha-carteira.css">
</head>

<body>

  {{>memberNav}}

  <nav class="navbar navbar-light navbar-expand navigation-clean-search" style='margin-top:50px;'>
    <div class="container"><a class="navbar-brand btn btn-carteira" href="#" style='font-weight: bold'>Minha
        Carteira</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
          class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <form class="form-inline mr-auto searchbar-form" method="post" action="/private/ticker-search">
          <div class="form-group"><label for="search-field"><i id='btn-search' class="fa fa-search"
                style="margin-right: 5px;filter: brightness(10%);"></i></label><input type="search"
              class="border rounded-pill border-dark form-control search-field" id="yfinance-search" name="query"
              placeholder="Buscar" /></div>
          {{#if msg}}
          <h6><span style='color: red; margin-left:5px; margin-top: 5px;'>{{msg}}</span></h6>
          {{/if}}
        </form>

      </div>
      <a style='font-weight: bold; color: black; font-size:1rem' class='nav-item btn btn-carteira' href="">Meu Patrimônio:<span>{{patrimonio}}</span></a>
    </div>
  </nav>

  <section style="height: 600px;">
    {{!-- <div class="row">
      <div class="col" style='margin-top:50px; margin-left:50px;'>
        <h4>Meus Tickers</h4>
      </div>
    </div> --}}
    <div class="row" style='padding: 50px'>
      <div class="col">
        <div class="table-responsive table wrapper">
          <form action="/private/updatewallet" method='post'>
           <div class='salvar-container' style='width: 88vw;display: flex; justify-content: flex-end; margin-bottom:5px'>
              <button class="btn btn-primary" type="submit">Salvar Mudanças</button>
           </div>
          <table class="table fl-table">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Preço</th>
                <th>Var Dia</th>
                <th>Posição(un)</th>
                <th>Posicão($)</th>
                <th>Preço Médio</th>
                <th>Ganho %</th>
              </tr>
            </thead>
            <tbody>
              {{#each tickers}}
              <tr>
                <td>{{this.name}}</td>
                <td>$<span class='ticker-current-price'>{{this.currentPrice}}</span></td>
                {{#if (biggerThanZero this.dayChangePct)}}
                <td><span style='color: rgb(47, 216, 47);'>{{this.dayChangePct}}%</span></span></td>
                {{else}}
                <td><span style='color: red'>{{this.dayChangePct}}%</span></td>
                {{/if}}
                <td><input class='posicao-input' min='0' type="number" name='position' placeholder="posição" value="0" ></td>
                {{#if this.positionUn}}
                {{else}}
                <td class='ticker-posicao'>0.00</td>
                {{/if}}
                <td>Preço M</td>
                <td>...%</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          
          </form>
        </div>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='/assets/js/autocomplete.js'></script>
  <script src='/assets/js/minha-carteira.js'></script>


</body>

</html>