<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/member-area.css">
  <link rel="stylesheet" href="/assets/css/Header-Blue.css">
  <link rel="stylesheet" href="/assets/css/minha-carteira.css">
  <link rel="stylesheet" href="/assets/css/tabela.css">

</head>

<body>

  {{>memberNav}}

  <nav class="navbar navbar-light navbar-expand navigation-clean-search" style='margin-top:50px;'>
    <div class="container"><a class="navbar-brand btn btn-carteira" href="#" style='font-weight: bold'>Minha
        Lista</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
          class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>

    </div>
  </nav>

  <section style="height: 500px;">
    <div class="row d-flex" style='justify-content:center;'>

      <div class="col coluna-tabela-tickers">

        <div class="table-responsive table wrapper">
          <table class="table fl-table">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Preço</th>
                <th>Var Dia (%)</th>
                <th>Posição(un)</th>
                <th>Posicão($)</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th></th>  
              </tr>
            </thead>
            <tbody>

              {{#each tickers}}

              <tr>

                <td>{{this.name}}</td>
                <td>$<span class='ticker-current-price'>{{this.currentPrice}}</span></td>
                {{#if (biggerThanZero this.dayChangePct)}}
                <td><span style='color: rgb(47, 216, 47);'>{{this.dayChangePct}}%</span></span></td>
                {{else}}
                <td><span style='color: red'>{{this.dayChangePct}}%</span></td>
                {{/if}}
                {{#if (biggerThanZero this.positionUn)}}
                <td>
                  <div class='quantity'>
                    <input class='posicao-input' min='0' step='1' type="number" name='position'
                      value="{{this.positionUn}}">

                  </div>
                </td>
                {{else}}
                <td>
                  <div class='quantity'>

                    <input class='posicao-input' min='0' type="number" name='position' value="0">

                  </div>
                </td>
                {{/if}}
                {{#if this.position}}
                   <td class='ticker-posicao'>{{this.position}}</td>
                {{else}}
                <td class='ticker-posicao'>0.00</td>
                {{/if}}  
                {{#if this.volume}}
                <td>{{this.volume}}</td>
                {{else}}
                <td>0.00</td>
                {{/if}}
                {{#if this.mktCap}}
                <td>{{this.mktCap}}B</td>
                {{else}}
                <td>0.00</td>
                {{/if}}

                <td style='display:flex; justify-content: center;'>

                  <form action="/private/{{this.name}}/delete" method='post'>
                    <input type="text" style='display: none' value="{{this.name}}" name='tickerName'>
                    <button type='submit' class='btn btn-primary'
                      style='background-color: transparent; border: 1px solid transparent; border-radius: 50%; width:20px; height:30px; display: flex; justify-content: center; align-items: center'><i
                        class='icon-close' style='color: red; height: 16px'></i></button>
                  </form>

                  <form action="/private/{{this.name}}/updateticker" method='post'>
                    <input type="text" style='display: none' value="{{this.name}}" name='tickerName'>
                    <input class='positionHiddenInput' type="number" style='display: none' value="{{this.positionUn}}"
                      name='positionUn'>
                    <input class='priceHiddenInput' type="number" style='display: none' value="{{this.currentPrice}}"
                      name='currentPrice'>
                    <button type='submit' class="btn btn-primary" id='salvarTicker'
                      style='background-color: transparent; border: 1px solid transparent; border-radius: 50%;; width: 20px; height:30px;display: flex; justify-content: center; align-items: center'>
                      <i class='icon-check' style='height: 16px; color: lawngreen'></i>
                    </button>
                  </form>

                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
          {{#if msg}}
          <p><span>{{msg}}</span></p>
          {{/if}}
        </div>
      </div>
    </div>

  </section>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='/assets/js/autocomplete.js'></script>
  <script src='/assets/js/minha-carteira.js'></script>


</body>

</html>